{
    "DIGITS_CONSUMER_KEY": "XXXXXXXXXXXXXXX",
    "DIGITS_CONSUMER_SECRET": "XXXXXXXXXXXXXXX",
    "AWS_ACCOUNT_ID": "1111111111111111",
    "AWS_REGION": "us-east-1",
    "COGNITO_IDENTITY_POOL_ID": "us-east-1:XXXXXXXXXXXXXXX",
    "IAM_ROLE_ARN": "arn:aws:iam::11111111111:role/SomethingSomething"
}

