<!DOCTYPE html>
<html>
<head>
  <title>Digits Example</title>
  <meta charset="utf-8">
</head>
<body>
  <div class="container">
    <h1 class="logo bounce"><a href="/">Cannonball</a></h1>
    <h2><%= error.status %> <%= message %></h2>
    <pre><%= error.stack %></pre>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/javascripts/digits.js"></script>
</body>
</html>
